# Put your cluster where your data is
region = "{{ aws_region }}"

# Name of your cluster
cluster_name = "{{ cluster_name }}"

# Version of k8s used by EKS
cluster_version = {{ k8s_cluster_version }}

username = "{{ admin_rolename.stdout }}"

# ============================================================================================================

# Configuration for unmanaged private subnets created by IT
vpc_name = "{{ env|upper }}-{{ cluster_name|upper }}-SC"
public_subnet_names = ["{{ env|upper }}-{{ cluster_name|upper }}-SC-Public-*"]
private_subnet_names = ["{{ env|upper }}-{{ cluster_name|upper }}-SC-DMZ-*"]

# The security groups below should also be created by ITSD for any given account.
# Assign your CI-node to jupyerhub-cluster-sg before running Terraform.
cluster_sg_name = "jupyterhub-cluster-sg"
worker_sg_name = "jupyterhub-worker-sg"

notebook_instance_type: "{{ notebook_instance_type }}"
notebook_min_capacity: {{ notebook_min_capacity }}
notebook_desired_capacity: {{ notebook_desired_capacity }}
notebook_max_capacity: {{ notebook_max_capacity }}
